<%- include('layouts/main') %>
<h2>Transactions</h2>
<p>Total Income: $<%= totalIncome %></p>
<p>Total Expenses: $<%= totalExpense %></p>
<p>Balance: $<%= balance %></p>
<a href="/transactions/new" class="button">Add Transaction</a>
<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% transactions.forEach(transaction => { %>
            <tr>
                <td><%= transaction.type %></td>
                <td>$<%= transaction.amount %></td>
                <td><%= transaction.description %></td>
                <td><%= transaction.date.toDateString() %></td>
                <td>
                    <a href="/transactions/<%= transaction._id %>/edit" class="button">Edit</a>
                    <form action="/transactions/<%= transaction._id %>/delete" method="POST" style="display:inline;">
                        <button class="button">Delete</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
